p {
    font-family: Montserrat;
    text-align: center;
    margin: 0 0;
}

.text-a {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 12px;
}

.text-b {
    font-weight: 500;
    font-size: 27px;
    margin-bottom: 12px;
}

.text-b-span {
    text-decoration: underline;
}