p {
    font-family: Roboto, Helvetica;
    margin-top: 0;
    margin-bottom: 0;
}

.thumbnail {
    width: 300px;
    display: block;
}

.search-bar {
    font-size: 20px;
    display: block;
}

.video-title {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

.video-author,
.video-stats {
    font-size: 12px;
    color: rgb(96, 96, 96);
}

.video-author {
    margin-bottom: 5px;
}


.video-preview {
    width: 300px;
    display: inline-block;
    vertical-align: top;
    margin: 15px 5px;
}

.channel-picture {
    vertical-align: top;
    display: inline-block;
    width: 50px;
}

.video-info {
    display: inline-block;
    width: 200px;
}

.profile-picture {
    width: 40px;
    border-radius: 100px;
}

.thumbnail-row {
    margin-bottom: 12px;
}

