.box {
    height: 100px;
    width: 350px;
    background-color: black;
    color: white;
    padding: 5px 10px;
}

.title {
    font-size: 26px;
    font-family: Arial;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0;
}

.info {
    font-size: 16px;
    font-family: Arial;
    margin-top: 10px;
}