.card {
    height: auto;
    width: 200px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.342);
    display: inline-block;
    margin: 10px 5px;
}

.profile-pic {
    width: 200px;
}

.card-name {
    font-family: Arial;
    font-weight: bold;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.card-friends {
    font-family: Arial;
    color: rgb(92, 90, 90);
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 5px;
}

.card-button {
    background-color: rgb(0, 132, 255);
    color: white;
    padding: 8px 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 5px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}