body {
  background-color: grey;
  margin: 0;
}

p {
  font-family: Montserrat;
  margin: 0 auto;
}

.main-screen {
  height: 620px;
  width: 350px;
  background-color: rgb(255, 255, 255);
  margin: 60px auto;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

.information-card {
  height: 230px;
  background-color: rgb(125, 28, 96);
  border-radius: 15px 15px 0 0;
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}

.menu-row-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
}

.menu-burger-icon {
  margin-top: 10px;
  margin-left: 5px;
  width: 16px;
  transition: width 0.3s;
  cursor: pointer;
}
.menu-burger-icon:hover {
  width: 20px;
}

.profile-menu {
  text-align: right;
  margin-top: 8px;
  vertical-align: top;
  cursor: pointer;
}

.profile-text {
  font-size: 9px;
  display: inline-block;
  color: white;
  transition: font-size 0.3s;
}

.profile-icon {
  width: 16px;
  transition: width 0.3s;
}
.profile-icon:hover {
  width: 20px;
}

.money-info {
  height: 130px;
  width: 100%;
  border-radius: 10px;
  text-align: center;
}

.code-text {
  font-size: 10px;
  font-weight: 500;
  color: white;
  line-height: 20px;
}

.total-money {
  margin-top: 20px;
  color: white;
  font-weight: bold;
}

.total-currency {
  font-weight: 500;
  font-size: 10px;
}

.secundary-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 5px;
  margin-top: 10px;
  padding: 5px;
  height: 100px;
}

.card {
  height: 90px;
  width: 80px;
  background-color: rgb(168, 52, 118);
  border-radius: 5px;
  transition: background-color 0.3s;
  cursor: pointer;
  box-shadow: 0 5px 3px rgba(0,0,0,0.2);
}
.card:hover {
  background-color: rgb(148, 46, 104);
}
.card:active {
  opacity: 0.9;
}

.card-text {
  color: white;
  font-weight: bold;
  margin-top: 70px;
  margin-left: 5px;
  font-size: 10px;
}

.ad-section {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 10px;
  text-align: center;
}

.patrimonio-icon {
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
  transition: width 0.3s;
}
.patrimonio-text {
  color: rgb(16, 122, 95);
  font-size: 12px;
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
}
.patrimonio-text:hover {
  font-size: 11px;
}
.ad-pic {
  width: 200px;
  margin: 0 auto;
  cursor: pointer;
}

.extracto-card {
  padding: 5px;
}

.data {
  font-size: 10px;
  color: rgb(64, 64, 64);
  margin-bottom: 5px;
  margin-top: 10px;
}

.transfer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.type-transfer {
  font-size: 11px;
  margin-left: 5px;
  flex: 1;
}

.valor-moeda {
  font-size: 11px;
  font-weight: bold;
}

.valor-mod {
  font-weight: 500;
  font-size: 9px;
}

.move-btn {
  border: 1px solid white;
  padding: 6px;
  font-size: 10px;
  font-family: Montserrat;
  background-color: rgba(0,0,0,0);
  color: white;
  border-radius: 5px;
  margin-top: 15px;
  transition: background-color 0.3s,
              color 0.3s,
              padding 0.3s;
  cursor: pointer;
}

.move-btn:hover {
  background-color: white;
  color: grey;
  font-size: 11px;
  padding: 8px;
}

.move-btn:active {
  background-color: rgb(76, 18, 75);
  color: rgb(255, 255, 255);
  padding: 7px;
}