p {
    font-size: 16px;
    font-family: Helvetica, Arial;
    margin-top: 0;
    margin-bottom: 0;
}

.card-conteiner {
    width: auto;
    display: inline-block;
}

.card {
    height: auto;
    width: 200px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.331);
    display: inline-block;
    margin: 5px 10px;
}

.profile-pic {
    width: 200px;
}

.name {
    padding: 5px 5px;
    font-weight: 550;
}

.card-info {
    width: auto;
    vertical-align: top;
    display: inline-block;
    padding: 5px 5px;
}

.info-pic-card {
    width: 30px;
    display: inline-block;
}

.info-pic {
    width: 25px;
    border-radius: 50px;
    object-fit: cover;
    vertical-align: middle;
    margin-right: 4px;
}

.info-friends {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    color: rgb(96, 96, 96);
}

.card-button {
    display: inline-block;
    vertical-align: middle;
}

button {
    padding: 8px 16px;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(0, 123, 255);
    color: white;
    border: none;
    border-radius: 4px;
}

